<!-- <app-nav></app-nav>

<alert type="warning">hello</alert> -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <app-nav></app-nav>
            <!-- <div class="jumbotron">
                <h2>
                    Hello, world!
                </h2>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout
                    called the hero unit and three supporting pieces of content. Use it as a starting point to create
                    something more unique.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div> -->
            <div class="row">
                <div class="col-md-4">
                    <app-categories></app-categories>
                </div>
                <div class="col-md-8 padding-top: 500px">
                    <!-- <app-product></app-product> -->
                    <app-loading></app-loading>

                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>